<div class="header">
  
</div>
<div class="led-container">
  <div class="green led">
    <div class="green-led-on hide led">
      
    </div>
    <div class="green-led-off led">
      
    </div>    
  </div>
  <div class="yellow led">
    <div class="yellow-led-on hide led">
      
    </div>
    <div class="yellow-led-off led">
      
    </div> 
  </div>
  <div class="red led">
    <div class="red-led-on hide led">
      
    </div>
    <div class="red-led-off led">
      
    </div> 
  </div>
</div>